name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    steps:
      - name: Check out code
        uses: actions/checkout@v2
        with:
          # Only a single commit is fetched by default, for the ref/SHA that
          # triggered the workflow. We need `fetch-depth: 0` to fetch all
          # history for all branches and tags.
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14

      - name: Basic build
        run: make GO_BUILDFLAGS='-mod vendor'
