name: CI
on:
  pull_request:
    branches:
    - '*'
    paths-ignore:
    - '**.md'
  push:
    branches:
    - master
    paths-ignore:
    - '**.md'
jobs:
  build:
    name: Build
    needs:
    - lint
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2
      with:
        # Only a single commit is fetched by default, for the ref/SHA that
        # triggered the workflow. We need `fetch-depth: 0` to fetch all
        # history for all branches and tags.
        fetch-depth: 0

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: "1.15"
    - name: Make build
      run: GO_BUILDFLAGS='-mod vendor' make build-all

  lint:
    name: Lint
    runs-on: ubuntu-latest
    if: '!contains(github.event.head_commit.message, ''[ci skip]'')'
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: "1.15"

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v2
      with:
        skip-go-installation: true
        version: latest

  test:
    name: Test
    needs:
    - build
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: "1.15"

    - name: Cache kubebuilder control plane binaries
      uses: actions/cache@v2
      with:
        path: test/bin
        key: ${{ runner.os }}-kubebuilder-${{ hashFiles('test/.kubebuilder-version') }}

    - name: Run tests and generate coverage report
      run: GO_BUILDFLAGS='-mod vendor' make build/cover.out

    - name: Upload coverage report to Coveralls
      env:
        COVERALLS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        GIT_BRANCH: ${{ github.head_ref }}
      run: |
        GO111MODULE=off go get -u github.com/mattn/goveralls
        goveralls -service=github -coverprofile=build/cover.out
